{% extends "imagersite/base.html" %}
{% block content %}
<!-- <div class="bg-faded p-4 my-4"> -->
    <div class="text-center mt-4">
        <div class="text-heading text-muted text-lg">Welcome To</div>
        <h1 class="my-2">Imager</h1>
        <div class="text-heading text-muted text-lg">For
            <strong>Life's Photos</strong>
        </div>
    </div>
</div>
<hr class="divider">
<hr class="divider">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid w-100" src="http://gallery.burrowowl.net/index.php?q=/image/39055.jpg" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-shadow">Slay Dragons</h3>
                    <p class="text-shadow">A mouse riding a cat, to slay dragons.</p>
                </div>
        </div>
    </div>
</div>
<hr class="divider">
<hr class="divider">
{% for photo in photos %}
<img class="all_photos" src= "{{ photo.image }}">
<h4>{{ photo.user.username }}</h4>
{% endfor %}

   
{% endblock content %}